//================= Mixins =====================
@import "mixins";
//================== Fonts =====================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Philosopher&display=swap");
//================ Variables ===================
$fontFamily: "Montserrat";
$fontSize: 18 + px;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;

$mainColor: #342c23;
$goldenColor: #bea183;
$hover: #a6896c;
/*------------------- Reset --------------------*/
@import "resetstyles";
/*------------------ Body ----------------------*/
body {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: 400;
	color: $mainColor;
}
/*----------------- Wrapper --------------------*/
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*---------------- Container -------------------*/
._container {
	@include adaptiv-value(max-width, $maxWidthContainer, 824, 1);
	@include adaptiv-value(padding-left, 100, 20, 1);
	@include adaptiv-value(padding-right, 100, 20, 1);
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 auto;
}
/*------------------ Button --------------------*/
.btn {
	padding-top: 10px;
	background-color: inherit;
	font-size: inherit;
	// ie 11
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		padding-top: 10px;
		background-color: transparent;
		display: block;
	}
}
/*------------------ Page ----------------------*/
.page {
	flex: 1 1 auto;
	// .page__delivery
	&__delivery {
		padding: 30px 0px 75px 0px;
		@media (max-width: 768px) {
			padding-bottom: 70px;
		}
		@media (max-width: 480px) {
			padding: 25px 0px 5px 0px;
		}
	}
}
/*---------------- Delivery --------------------*/
.delivery {
	// .delivery__wrapper
	&__wrapper {
	}
	// .delivery__breadcrumbs
	&__breadcrumbs {
		display: flex;
		align-items: center;
		@media (max-width: 480px) {
			display: block;
		}
	}
	// .delivery__title
	&__title {
		margin: 30px 0px 70px 0px;
		font-family: "Philosopher";
		font-size: 48px;
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		color: $mainColor;
		// .delivery__title_row
		&_row {
			@media (max-width: 480px) {
				display: block;
			}
		}
		@media (max-width: 768px) {
			margin-bottom: 50px;
		}
		@media (max-width: 480px) {
			margin: 25px 0px 35px 0px;
			font-size: 36px;
			line-height: 40px;
		}
	}
	// .delivery__paragraph
	&__paragraph {
		line-height: 22px;
		&:not(:last-child) {
			margin-bottom: 34px;
		}
		// .delivery__paragraph_more
		&_more {
			color: $goldenColor;
			border-bottom: 1px solid $goldenColor;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					cursor: pointer;
					color: $hover;
					border-bottom: 1px solid $hover;
				}
			}
			&:active {
				color: $hover;
				border-bottom: 1px solid $hover;
			}
			@media (max-width: 480px) {
				display: block;
			}
		}
		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
/*--------------- Breadcrumbs ------------------*/
.breadcrumbs {
	// .breadcrumbs__breadcrumb
	&__breadcrumb {
		&:not(:last-child) {
			&::after {
				padding: 0 10px;
				content: "/";
			}
		}
		@media (max-width: 768px) {
			font-size: 16px;
		}
		@media (max-width: 480px) {
			&:not(:last-child) {
				padding-bottom: 10px;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		line-height: 22px;
		color: inherit;
		transition: color 0.3s ease;
		color: $goldenColor;
		@media (any-hover: hover) {
			&:hover {
				color: $hover;
			}
		}
		&:active {
			color: $hover;
		}
	}
}
._more {
	@media (max-width: 480px) {
		display: none;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: none;
		}
	}
}
//=========================================================================
